* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
    background-image: url("header-midnightBlue.jpg");
  }
  
  .header h1 {
    font-size: 50px;
    color: aliceblue;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .finding {
    padding: 20px;
    margin-top: 20px;
    background-image: url("background-search.jpg");

  }
 .finding h1{
     text-align: center;
 }
  
  /* Clear floats after the columns */
  .row_main:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  
  .search-content {
    height: 440px;
    border: 1px solid #f0f2f5;
    background-image: url("background-search.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .display-flex {
    display: flex;
  }
  .slogan {
    font-family: "IBM Plex Mono", monospace;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 66px;
  }
  .form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
	.form-control {
		transition: none
	}
}
.form-content {
    background-color: rgba(40, 40, 46, 0.6);
    max-width: 909px;
    margin: auto;
    height: 200px;
  }
  .choose-area {
    width: 30%;
    border-right: 1px solid white;
  }
  .choose-room {
    width: 40%;
    border-right: 1px solid white;
    padding-left: 101px;
  }
  .choose-prices {
    width: 30%;
  }
  
  .choose-area label {
    color: #fafafa;
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
    display: block;
  }
  
  .choose-area select {
    max-width: 209px;
    font-weight: 600;
    cursor: pointer;
  }
  label.label-choose-room {
    font-size: 16px;
    font-weight: 600;
    color: #fafafa;
    display: block;
    margin-top: 16px;
    margin-bottom: 2px;
  }
  
  .form-check label {
    color: #f0f2f5;
    font-size: 13px;
  }
  
  .choose-prices > label {
    color: #fafafa;
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
  }
  
  .select-minPrices label[for="minPrices"] {
    display: block;
    width: 94px;
    font-size: 13px;
    color: #f0f2f5;
    padding-top: 4px;
  }
  
  .select-maxPrices label[for="maxPrices"] {
    display: block;
    width: 94px;
    font-size: 13px;
    color: #fafafa;
    padding-top: 4px;
  }
  
  .select-minPrices select {
    width: 135px;
    height: 31px;
    padding-top: 2px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .select-maxPrices select {
    width: 135px;
    height: 31px;
    padding-top: 2px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .post-content {
    margin-bottom: 69px;
  }
  .btn{
      border-radius: 12px;
  }
  .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}
.column{
    flex: 50%;
  padding: 10px;
  display: flex;
}
.img-div {
    width: 35%;
    flex:30%;
  }
.brief-div{
    flex: 70%;
    position: relative;
  padding-left: 8px;
  cursor: pointer;
}

  /*bai dang */
  .address-div {
    /* position: absolute;
    top: 57px; */
    margin-top: 3px;
  }
  .img-post {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .titlePost {
    /*  position: absolute; */
    text-decoration: none;
    
    /* font-weight: bold; */
    font-size: 16px;
    line-height: 0;
  }
  .addressPost {
    font-size: 13px;
    color: gray;
    margin-left: 9px;
    padding-right: 26px;
  }
  .Prices {
    font-size: 17px;
    font-weight: 600;
    color: #427bff;
    margin-left: 7px;
    margin-top: -2px;
  }
  .datePost {
    position: absolute;
    font-size: 12px;
    color: gray;
  }
  .label-fav{
      font-size: 25px;
      color: blue;
  }
  .wrapper-fav{
      background-color: white;
  }
  /*bai dang yeu thich */
  .row-footer{
      display: flex;
  }
  .column-footer{
      flex: 25%;
  }
  
  